body {
    text-align: center;
}

#content {
    margin-top: 10px;
}

#searchTerm {
    margin-top: 10px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 5px;
}

li {
    border: solid 1px black;
    margin-top: 5px;
    margin-bottom: 5px
}